<!DOCTYPE html>
{%extends 'testApp/base.html'%}
{%block body_block%}
<div class="container" align="center">
    <h4>Java Tutorials</h4><br>
    <p>Java is a multi-platform, object-oriented, and network-centric language. It is among the most used programming language. Java is also used as a computing platform.




        It is considered as one of the fast, secure, and reliable programming languages preferred by most organizations to build their projects.
        What is Java used for?
        Here are some important Java applications:
        
        It is used for developing Android Apps
        Helps you to create Enterprise Software
        Wide range of Mobile java Applications
        Scientific Computing Applications
        Use for Big Data Analytics
        Java Programming of Hardware devices
        Used for Server-Side Technologies like Apache, JBoss, GlassFish, etc.
        History of Java Programming Language
        Here are important landmarks from the history of the Java language:
        
        The Java language was initially called OAK.
        Originally, it was developed for handling portable devices and set-top boxes. Oak was a massive failure.
        In 1995, Sun changed the name to “Java” and modified the language to take advantage of the burgeoning www (World Wide Web) development business.
        Later, in 2009, Oracle Corporation acquired Sun Microsystems and took ownership of three key Sun software assets: Java, MySQL, and Solaris.</p><br><br>
</div>
{%endblock%}